.env
.idea
.flake8
.diff
innotter/static
innotter/__pycache__
innotter/users/__pycache__
innotter/users/migrations
innotter/posts/migrations
innotter/pages/migrations
innotter/migrations
innotter/innotter/__pycache__
*.pyc

