[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
docker = "*"
docker-compose = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pyjwt = "*"
redis = "*"
boto3 = "*"
django-ses = "*"
django-ses-email-backend = "*"
fastapi = {extras = ["all"], version = "*"}
rabbitmq = "*"
celery = "==5.2.7"
prompt-toolkit = "*"
kombu = "==5.2.4"
amqp = "==5.1.1"
vine = "==5.0.0"
pika = "*"

[dev-packages]

[requires]
python_version = "3.10"
